body {
    color: rgba(255,255,255,0.05);
    background-color: rgba(0, 0, 0, 1);
  }

  .notec td {
    border: 2px;
    border-radius: 10px;
    border-style: solid;
    padding: 2px;
    width: 5em;
    height:24px;
  }

  table {
    border-collapse: collapse;
    text-align: right;
    width: 90%;
    table-layout: fixed;
  }

  .notec th {
    border-radius: 10px;
    padding: 2px;
    width: 5em;
    height: 24px;
  }

  th.white {
    width: 10em;
    color: black;
    border-color: lightblue;
    background-color: white;
  }

  th.black {
    width: 10em;
    color: white;
    border-color: lightblue;
    background-color: black;
  }
  .notec tr td:hover
  {
   background-color: lightblue;
  }
  .notec tr:hover{
    background-color:rgba(100,100,100,0.3);
  }
  th.black:hover{
    background-color: blue;
  }
  th.white:hover{
    background-color: blue;
     color:white;
  }
  .highlighted {
      background-color:rgb(60,0,220);
  }
